{{ define "head" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ if .Title }}{{ .Title }}{{ else }}Yubè{{ end }}</title>
  <link rel="icon" href="/static/favicon.ico" sizes="any" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180.png" />
  <link rel="alternate" type="application/rss+xml" title="Yubè RSS" href="/rss.xml" />
  <link href="/static/app.css?v=5" rel="stylesheet" />
</head>

<body>
  <div class="app">
{{ end }}

{{ define "layout-start" }}
{{ template "head" . }}
{{ template "mobile-overlay" . }}
{{ template "sidebar" . }}

    <main class="main">
{{ template "topbar" . }}
{{ end }}

{{ define "layout-end" }}
    </main>
  </div>
  <script type="text/javascript" src="/static/app.js?v=10"></script>
</body>
</html>
{{ end }}

{{ define "mobile-overlay" }}
    <div class="mobile-overlay" id="mobileOverlay"></div>
{{ end }}
